<!DOCTYPE html>
<html ng-app="resume">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>function cdnizerLoad(u) {document.write('<scr'+'ipt src="'+encodeURIComponent(u)+'"></scr'+'ipt>');}</script><link rel="shortcut icon" type="image/png" href="images/favicon.jpg" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><script>if(!(window.jQuery)) cdnizerLoad("bower_components/jquery/dist/jquery.js");</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.13&sensor=false"></script>

    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script><script>if(!(window.angular)) cdnizerLoad("bower_components/angular/angular.js");</script>
    <script src="javascripts/main.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Valerio's Timeline</title>
  </head>

  <body data-spy="scroll" data-target="#main-nav">
    <nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
      <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about-me">ABOUT ME</a>
            </li>
            <li><a href="#resume">RESUME</a>
            </li>
            <li><a href="#contacts">CONTACTS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- header -->
    <header class="jumbotron header" id="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 left">
            <div class="avatar">
              <img src="images/profile-picture.jpg" class="img-responsive" alt="Profile Picture" />
            </div>
          </div>
          <div class="col-sm-6 right">
            <h1 class="heading">Valerio Ponte</h1>
            <p>A web software architect from Milan, Italy.</p>
            <!-- a href="#resume" class="btn btn-default btn-lg">READ MORE</a-->
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->


    <!-- about-me -->
    <section class="section about-me" id="about-me">
      <div class="container">
        <h2 class="heading">ABOUT ME</h2>
        <p>This is a short introduction of myself. 
          For a more detailed view on my experiences jump to the Resume section.</p>
        <div class="row interest">
          <div class="col-md-3">
            <h3 class="sub-heading"><span class="glyphicon glyphicon-user"></span>Summary</h3>
            <ul>
              <li>Valerio Ponte</li>
              <li>born in 1987 (27 y.o.)</li>
              <li>Milan, Italy</li>
              <li>Computer Engineer (since 2011)</li>
              <li>Working for Wintech S.p.A. (since 2012)</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="sub-heading"><span class="glyphicon glyphicon-cog"></span>Technologies</h3>
            <p>For a more detailed list of frameworks and techonologies 
              known please see the badges in each project. Anyway I would 
              summarize my technical profile as a full stack engineer, proficient in</p>
            <ul>
              <li>J2EE</li>
              <li>Javascript</li>
              <li>Portal technologies</li>
              <li>IBM technologies</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span>Skills</h3>
            <p>Other than writing software I consider myself good at</p>
            <ul>
              <li>Design and specification of software systems and infrastructures</li>
              <li>Requirements analysis</li>
              <li>Technical management of software project</li>
            </ul>

          </div>
          <div class="col-md-3">
            <h3 class="sub-heading"><span class="glyphicon glyphicon-flag"></span>Interests</h3>
            <p>I love learning about new tech-related stuff and to experiment 
              with what I discover, be it building a new useless web app 
              or a home automation system. I'm also interested in software 
              security and even if I wouldn't describe myself as a security 
              researcher I can safely say that I'm a security concerned developer.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end about-me -->

    <!-- resume -->
    <section class="section resume" id="resume">
      <div class="container">
        <h2 class="heading">RESUME</h2>
        <div class="row">
          <div class="col-md-4 text-center">
            <label class="row">
              <input type="checkbox" ng-model="work"> Work
            </label>
          </div>
          <div class="col-md-4 text-center">
            <label class="row">
              <div class="col-xs-2"><input type="checkbox" ng-model="personal"></div>
              <div class="col-xs-10"><i class="glyphicon glyphicon-heart" ></i><div>Personal projects</div></div>
            </label>
          </div>
          <div class="col-md-4 text-center">
            <label>
              <input type="checkbox" ng-model="education"> Education
            </label>
          </div>
        </div>
        <ul class="timeline">
          <li class="year">2015</li>
          <li class="event" ng-show="work">
            <h3 class="sub-heading">Parka</h3>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>October 2014</span>
            <p>A realtime, isomorphic, reactive javascript web application that 
              allows users to share their latest parking location and helps in finding 
              available parkings. My first experience with Meteor.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-heart" href="http://parka-dev.herokuapp.com" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Personal project, check it out"></a></span>
              <span class="resume-badge"><div class="glow"></div><div class="github"><a href="https://github.com/riso/parka" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Check the source code"></a></div></span>
              <span class="resume-badge meteor" data-toggle="tooltip" data-placement="bottom" title="Meteor Framework"></span>
              <span class="resume-badge gmaps" data-toggle="tooltip" data-placement="bottom" title="Google Maps API"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Web Architect</h3>
            <span>Wintech S.p.A.</span>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>June 2014 - present</span>
            <p>Requirements analysis and technical solution specification on various 
              clients' and potential clients' projects, ranging from small web applications 
              to projects involving different IBM software integrated with existing solutions 
              and deployed on cloud.</p>
            <p>I am also working on the evaluation and the definition of the front-end 
              developement tools that the company will use in the next few years.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="bottom" title="Job, visit employer's website" href="http://www.wintech.it" target="_blank"></a></span>
              <span class="resume-badge java" data-toggle="tooltip" data-placement="bottom" title="J2EE"></span>
              <span class="resume-badge ibm" data-toggle="tooltip" data-placement="bottom" title="IBM"></span>
              <span class="resume-badge lconn" data-toggle="tooltip" data-placement="bottom" title="IBM Connections"></span>
              <span class="resume-badge wps" data-toggle="tooltip" data-placement="bottom" title="IBM WebSphere Portal"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Kittybot</h3>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>July 2014</span>
            <p>A realtime reactive web application that lets you chat with a robot cat.</p>
            <div class="resume-badges">
              <span class="resume-badge "><div class="glow"></div><a class="glyphicon glyphicon-heart" href="http://kitty-bot.herokuapp.com" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Personal project, check it out"></a></span>
              <span class="resume-badge"><div class="glow"></div><div class="github"><a href="https://github.com/riso/kitty-bot" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Check the source code"></a></div></span>
              <span class="resume-badge scala" data-toggle="tooltip" data-placement="bottom" title="Scala"></span>
              <span class="resume-badge play" data-toggle="tooltip" data-placement="bottom" title="Play Framework"></span>
              <span class="resume-badge angular" data-toggle="tooltip" data-placement="bottom" title="Angular Framework"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Senior Web Developer</h3>
            <span>Wintech S.p.A.</span>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>January 2014 - June 2014</span>
            <p>Design and specification of a solution that enables business users to 
              manage the stock portfolio of an Italian insurance company. The designed 
              solution provides a framework for existing and future stock types by 
              defining a common API that stock types should implement, permitting an high grade 
              of flexibility. Led a small team of developers during the implementation, 
              test and release phases, integrating the solution with other existing intranet applications.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="bottom" title="Job, visit employer's website" href="http://www.wintech.it" target="_blank"></a></span>
              <span class="resume-badge java" data-toggle="tooltip" data-placement="bottom" title="J2EE"></span>
              <span class="resume-badge liferay" data-toggle="tooltip" data-placement="bottom" title="Liferay"></span>
              <span class="resume-badge backbone" data-toggle="tooltip" data-placement="bottom" title="Backbone.js"></span>
              <span class="resume-badge siteminder" data-toggle="tooltip" data-placement="bottom" title="CA Siteminder"></span>
            </div>
          </li>
          <li class="year">2014</li>
          <li class="event">
            <h3 class="sub-heading">Assistant Project Manager</h3>
            <span>Wintech S.p.A.</span>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>June 2013 - October 2013</span>
            <p>Coordinated different small teams in the setup of different IBM products 
              (ranging from a stand-alone IBM Connections up to a clusterized IBM 
              Customer Experience Suite), integrating them in existing clients' intranet infrastructures.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="bottom" title="Job, visit employer's website" href="http://www.wintech.it" target="_blank"></a></span>
              <span class="resume-badge ibm" data-toggle="tooltip" data-placement="bottom" title="IBM"></span>
              <span class="resume-badge lconn" data-toggle="tooltip" data-placement="bottom" title="IBM Connections"></span>
              <span class="resume-badge wps" data-toggle="tooltip" data-placement="bottom" title="IBM WebSphere Portal"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Malicious Software and its Underground Economy</h3>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>June 2013 - September 2013</span>
            <p>This short graduate-level course introduces students to traditional 
              and mobile malicious software, the security threats it represents, 
              the state-of-the-art analysis and detection techniques, and the underground 
              ecosystem that drives such a profitable but illegal business.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-book" data-toggle="tooltip" data-placement="bottom" title="Education, download Statement of Accomplishment" href="assets/malicious software.pdf" target="_blank"></a></span>
              <span class="resume-badge coursera" data-toggle="tooltip" data-placement="bottom" title="Coursera"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Web Developer</h3>
            <span>Wintech S.p.A.</span>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>Febraury 2012 - November 2012</span>
            <p>Internet Banking portal solution (multi-language platform with 
              about 750k users). Development and maintenance of the aggregation platform 
              (based on IBM technologies) which provides a single point of access both 
              for users and CMS editors toward multiple backend systems. The job involved
              technical analisys of requirements, technical solution specification, design, 
              development and deployment.</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="bottom" title="Job, visit employer's website" href="http://www.wintech.it" target="_blank"></a></span>
              <span class="resume-badge java" data-toggle="tooltip" data-placement="bottom" title="J2EE"></span>
              <span class="resume-badge ibm" data-toggle="tooltip" data-placement="bottom" title="IBM"></span>
              <span class="resume-badge wps" data-toggle="tooltip" data-placement="bottom" title="IBM WebSphere Portal"></span>
            </div>
          </li>
          <li class="event">
            <h3 class="sub-heading">Web Developer</h3>
            <span>Wintech S.p.A.</span>
            <span class="month"><span class="glyphicon glyphicon-calendar"></span>January 2013 - September 2013</span>
            <p>Designed and developed web services used to programmatically 
              manage user creation and self care in a enterprise intranet. Later I evolved 
              the solution into an extensible framework that provides user management API 
              for multiple user backends (LDAP, DB, etc.) and which is currently used by 
              serveral clients to provide a simple user management interface to business users. 
              Development and maintenance of CMS structures for content editors, 
              installation and setup of collaboration and security software (based on IBM products).</p>
            <div class="resume-badges">
              <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="bottom" title="Job, visit employer's website" href="http://www.wintech.it" target="_blank"></a></span>
              <span class="resume-badge java" data-toggle="tooltip" data-placement="bottom" title="J2EE"></span>
              <span class="resume-badge ibm" data-toggle="tooltip" data-placement="bottom" title="IBM"></span>
              <span class="resume-badge lconn" data-toggle="tooltip" data-placement="bottom" title="IBM Connections"></span>
              <span class="resume-badge wps" data-toggle="tooltip" data-placement="bottom" title="IBM WebSphere Portal"></span>
              <span class="resume-badge glyphicon glyphicon-lock" data-toggle="tooltip" data-placement="bottom" title="IBM Security Access Manager"></span>
            </div>
          </li>
          <li class="year">2012</li>
          <li class="event">
            <h3 class="sub-heading">Politecnico di Milano</h3>
            <h4>Parallel scalable parsing with Floyd Grammars</a></h4>
          <span class="month"><span class="glyphicon glyphicon-calendar"></span>October 2006 - December 2011</span>
          <p>Bachelor's and master's degree in Computer Engineering. 
            Over the 5-year course I had practical experiences with C, Java and Python.</p>
          <div class="resume-badges">
            <span class="resume-badge"><div class="glow"></div><a class="glyphicon glyphicon-book" data-toggle="tooltip" data-placement="bottom" title="Education, download my thesis" href="assets/thesis.pdf" target="_blank"></a></span>
            <span class="resume-badge polimi" data-toggle="tooltip" data-placement="bottom" title="Politechnical University of Milan"></span>
            <span class="resume-badge"><div class="glow"></div><a href="assets/hipeac.pdf" data-toggle="tooltip" data-placement="bottom" title="The thesis was part of a research program that won a Google Research Award (page 8)" class="glyphicon glyphicon-star" target="_blank"></a></span>
            <span class="resume-badge clang" data-toggle="tooltip" data-placement="bottom" title="C Programming Language"></span>
            <span class="resume-badge java" data-toggle="tooltip" data-placement="bottom" title="Java"></span>
            <span class="resume-badge python" data-toggle="tooltip" data-placement="bottom" title="Python"></span>
          </div>
        </li>
      </ul>

    </div>
  </section>
  <!-- end resume -->

  <!-- contacts -->
  <section class="section contacts" id="contacts">
    <div class="container">
      <h2 class="heading">CONTACTS</h2>
      <p>In case you found something that piqued your interest here and you wish to reach out for me feel free to do so, in the following section you can find several ways to do it. I will try to get back in touch as soon as possible.</p>
      <div class="row contact-address">
        <div class="col-md-6">
          <div id="map-canvas"></div>
        </div>

        <div class="col-md-6">
          <div class="address-lines">
            <p>Address: Piazza Dergano 9, 20158, Milano, Italy</p>
            <p>Mobile: (+39) 340 - 100 - 4285</p>
            <p>Skype: t.riso</p>
            <p>Email: <a href="mailto:valerio.ponte@gmail.com">valerio.ponte@gmail.com</a>
              <div class="contact-badges">
                <div class="contact-badge github"><a href="https://github.com/riso" target="_blank"></a></div>
                <div class="contact-badge"><a class="facebook" href="https://www.facebook.com/denigranegri"></a></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contacts -->

  <!-- footer -->
  <footer class="footer">
  </footer>
  <!-- end footer -->

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-56382505-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
