body {
  background-color: #CADAEB;
}
p {
  text-align: justify;
}
h2 {
  font-size: 50px;
}
.navbar {
  background-image: linear-gradient(to bottom,#4B5E74 0,#4B5E74 100%);
}
.navbar-default .navbar-nav>li>a {
  color: #CADAEB;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #eee;
}
#main-nav {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform .3s,height .2s linear;
  -moz-transition: -moz-transform .3s,height .2s linear;
  -o-transition: transform .3s,height .2s linear;
  transition: transform .3s,height .2s linear;
}
#main-nav.asleep {
  -webkit-transform: translate3d(0,-70px,0);
  -moz-transform: translate3d(0,-70px,0);
  transform: translate3d(0,-70px,0);
}
.btn-primary {
  background: linear-gradient(to bottom,#4B5E74 0,#4B5E74 100%);
  border-color: #e7e7e7;
}
.btn-primary:focus {
  border-color: rgb(51, 51, 51);
}
#resume {
  background-color: #eee;
}
#resume .year {
  color: #eee;
}
#header, #about-me, #about-me {
  border-bottom: #e7e7e7 solid 1px;
}
#header {
  background: url('../images/background.jpg');
  background-size: cover;
  padding-bottom: 0px;
}
#header .heading {
  margin-top: 80px;
  text-align: left;
}
.avatar {
  margin: 50px auto;
  max-width: 450px;
}
.avatar img {
  border: 20px;
  border-radius: 50%;
}
#about-me .container {
  margin-bottom: 50px;
}
#about-me ul {
  padding-left: 15px;
}
#about-me li {
  padding-left: 15px;
  background: url('../images/list-bullet.png') no-repeat 0px 10px;
  list-style-type: none;
}
#map-canvas {
  height: 300px;
  margin: 40px 0;
}
.heading {
  margin: 50px auto 20px auto;
  text-align: center;
}
.sub-heading .glyphicon {
  margin-right: 10px;
  font-size: inherit;
}
.timeline {
  list-style-type: none;
  margin: 0 auto 50px auto;
  padding: 0;
  position: relative;
  max-width: 970px;
  text-align: center;
  overflow: hidden;
  background: url('../images/vertical-line.png') repeat-y 50% 0;
}
.year {
  background: #4B5E74;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  line-height: 50px;
  clear: both;
}
.event {
  width: 100%;
  background-color: #CADAEB;
  margin: 30px 0 20px 0;
  padding: 0 15px 15px 15px;
  border: #4B5E74 solid 2px;
  border-radius: 5px;
  float: right;
  clear: right;
  position: relative;
}
.event:nth-child(2n) {
  float: left;
  clear: left;
  margin-top: 50px;
}
.event:after {
  content: '  ';
  border: #4B5E74 2px solid;
  position: absolute;
  left: -25px;
  top: 1.8em;
  width: 21px;
}
.event:nth-child(2n):after {
  right: -25px;
  left: auto;
}
.event $1calendar {
  margin-right: 10px;
}
.month {
  vertical-align: middle;
}
.resume-badges {
  position: relative;
  float: left;
  left: 50%;
}
.resume-badge, .resume-badge a {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  float: left;
  margin: 0 5px;
  position: relative;
  left: -50%;
  color: #4B5E74;
}
.resume-badge a {
  margin: 0;
  left: 0;
}
.glow {
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  box-shadow: 0 0 7px 14px #fff;
  border-radius: 50%;
  position: absolute;
  left: 14px;
  top: 14px;
}
#resume .github {
  position: absolute;
  width: 32px;
  height: 32px;
}
.github {
  background: url('../images/GitHub-Mark-120px-plus.png');
  background-size: cover;
}
.gmail {
  background: url('../images/gmail.png');
  background-size: cover;
}
.linkedin {
  background: url('../images/linkedin.png');
  background-size: cover;
}
.skype {
  background: url('../images/skype.png');
  background-size: cover;
}
.puppet {
  background: url('../images/puppet.png');
  background-size: cover;
}
.jenkins {
  background: url('../images/jenkins.png');
  background-size: cover;
}
.meteor {
  background: url('../images/meteor.png');
  background-size: cover;
}
.gmaps {
  background: url('../images/gmaps.png');
  background-size: cover;
}
.jquery {
  background: url('../images/jquery.png') no-repeat center;
  background-size: contain;
}
.gulp {
  background: url('../images/gulp.png') no-repeat center;
  background-size: contain;
}
.angular {
  background: url('../images/angular.png') no-repeat center;
  background-size: contain;
}
.play {
  background: url('../images/play.png') no-repeat center;
  background-size: contain;
}
.scala {
  background: url('../images/scala.png') no-repeat center;
  background-size: contain;
}
.maven {
  background: url('../images/maven.png') no-repeat center;
  background-size: contain;
}
.java {
  background: url('../images/java.png') no-repeat center;
  background-size: contain;
}
.liferay {
  background: url('../images/liferay.png') no-repeat center;
  background-size: contain;
}
.backbone {
  background: url('../images/backbone.png') no-repeat center;
  background-size: contain;
}
.siteminder {
  background: url('../images/siteminder.png') no-repeat center;
  background-size: contain;
}
.ibm {
  background: url('../images/ibm.png') no-repeat center;
  background-size: contain;
}
.lconn {
  background: url('../images/lconn.png') no-repeat center;
  background-size: contain;
}
.wps {
  background: url('../images/wps.png') no-repeat center;
  background-size: contain;
}
.coursera {
  background: url('../images/coursera.png') no-repeat center;
  background-size: contain;
}
.polimi {
  background: url('../images/polimi.png') no-repeat center;
  background-size: contain;
}
.clang {
  background: url('../images/clang.png') no-repeat center;
  background-size: contain;
}
.python {
  background: url('../images/python.png') no-repeat center;
  background-size: contain;
}
.glyphicon-heart, .glyphicon-briefcase, .glyphicon-book, .glyphicon-lock, .glyphicon-star {
  font-size: 32px;
}
.event .glyphicon-heart:before, #resume .event .glyphicon-briefcase:before, .event .glyphicon-book:before, .event .glyphicon-lock:before, .event .glyphicon-star:before {
  z-index: 1;
  position: absolute;
  left: 0;
}
.event .glyphicon-heart:before {
  left: -1px;
}
.event .glyphicon-star:before {
  left: 1px;
}
.contact-badge, .contact-badge a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 4px;
}
@media all and (min-width: 992px) {
  .event {
    width: 45%;
    margin: 110px 2.5% 50px 2.5%;
  }
  .address-lines {
    margin: 40px 0;
  }
}

.experience-selector {
  width: 90%;
  margin: 0 auto;
}

.col-middle-alt {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

label {
  display: block;
  padding: 9px 0;
  cursor: pointer;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}
